<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesManagment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesManagment.styles.css" asp-append-version="true" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://kendo.cdn.telerik.com/themes/6.2.0/material/material-lime-dark.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2023.1.425/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/kendo.aspnetmvc.min.js"></script>
</head>
<body class="k-content">
    <header>
        <nav class="navbar navbar-dark mb-5" style="background-color: #E2F03C;">
            <div class="k-header container" style="flex-wrap: nowrap; text-size: 18px;">
                <a class="navbar-brand text-dark" style="font-size: 32px; font-weight: bold;" asp-controller="Home" asp-action="Index">Movies Managment</a>
                <a class="nav-link text-dark" style="font-size: 22px;" asp-area="" asp-controller="Movies" asp-action="Index">Filmy</a>
            </div>
        </nav>

    </header>
    <div class="container">

        @RenderBody()
    </div>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container-fluid">
            <p class="text-muted">
                Copyright © @DateTime.Now.Year MoviesManagment - Przemysław Kuczyński. All rights reserved.
            </p>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
