@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na</h1>
    <h2>Serwiies do przechowywania filmów i pobierania informacji o nich</h2>
    <a>Masz możliwość dodania swojego filmu do bazy podając tytuł i rok produkcji a serwis sam znajdzie go w bazie</a>
</div>
