@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w</h1>
    <h2>Serwisie do przechowywania filmów i pobierania informacji o nich</h2>
    <h4>Masz możliwość dodania swojego filmu do bazy podając tytuł i rok produkcji a następnie wyszukania tego filmu w bazie</h4>
    
    <a>Serwis wykorzystuje baze danych IMDb</a>
    <a class="imdb-logo" title="Internet Movie Database, Public domain, via Wikimedia Commons" style="" href="/Movies">
        <img width="512" alt="IMDB Logo 2016" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/512px-IMDB_Logo_2016.svg.png">
    </a>
</div>
