@model IEnumerable<MoviesManagment.Models.Movie>

@{
    ViewData["Title"] = "Przegl¹d filmów";
}
@using Kendo.Mvc.UI
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>Przegl¹d filmów</h1>


<div class="grid-container">
    @(Html.Kendo().Grid<Movie>
        (Model).Name("grid")
        .Columns(columns =>
        {
            columns.Bound(column => column.Id);
            columns.Bound(column => column.Title);
            columns.Bound(column => column.ReleaseYear);
            columns.Bound(column => column.Genres);
            columns.Bound(column => column.Stars);
            columns.Bound(column => column.ImdbRating);
            columns.Bound(column => column.Director);
            columns.Command(column =>
            {
                column.Edit().Text("Edytuj");
                column.Custom("Button").Click("onButtonClick").Text("&#x1F50E; Wyszukaj film").HtmlAttributes(new { style = "background-color: blue; color: white; margin-inline-start: 0;" });
                column.Destroy().Text("Usuñ").HtmlAttributes(new { style = "background-color: red; color: white; margin-inline-start: 0;" });
            }).Width(250);
        })
        .Scrollable()
        .Pageable()
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .ToolBar(x => x.Create().HtmlAttributes(new { style = "background-color:green !important;" }))
        .DataSource(ds => ds.Ajax()
        .Model(m =>
        {
            m.Id(id => id.Id);
            m.Field(movie => movie.Id).Editable(false);
        })
        .Read(read => read.Action("Index", "Movies"))
        .Create(create => create.Action("Create", "Movies"))
        .Update(update => update.Action("Edit", "Movies"))
        .Destroy(destroy => destroy.Action("Delete", "Movies"))
        .PageSize(10)
        )
        )
</div>

<script>
    function onButtonClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '@Url.Action("Details", "Movies")' + '?id=' + dataItem.Id;
    }
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }


</script>

